#config-reg-portal-form{
    padding-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    margin-top: 20vh;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1) ;
    height: 60vh;
}

#config-reg-portal-form input, #config-reg-portal-form select{
    width: 90vw;
    height: 7vh;
}

#upload-students-list-button{
    width: 90vw;
    background-color: #417690;
    color: white;
    margin-top: 10vh;
}

@media only screen and (min-width: 1200px){
    body{
        background-color: #eeeeee;
    }
    #config-reg-portal-form{
        width: 40vw;
        margin-left: 30vw;
    }
    #config-reg-portal-form input, label, #config-reg-portal-form select{
        width: 38vw;
        margin-left: 1vw;
        height: 7vh;
    }
    #upload-students-list-button{
        width: 38vw;
        margin-left: 1vw;
    }

}