<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Courses</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{url_for('static', filename='css/register_courses.css')}}>
</head>
<body>
    <table class="table" style="width: 100vw">
        <thead style="color: white; background-color: #00a876">
            <tr>
                <th class="lead">Course ID</th>
                <th class="lead">Course Title</th>
                <th class="lead">Professor</th>
                <th class="lead">Slot</th>
                <th></th>
            </tr>
        </thead>
        {% for course in courses %}
            <form action="/delete-course" method="post">
                <tr>
                    <td>{{course.course_id}}</td>
                    <td>{{course.course[0].course_title}}</td>
                    <td>{{course.professor[0].name}}</td>
                    <td>{{course.slot}}</td>
                </tr>
            </form>
        {% endfor %}
    </table>
    <button class="btn" id="go-back-button">
            <a href="../" >
                Home
            </a>
        </button>
</body>
</html>